#first{text-align: left;height: 750px;
padding-left: 50px;}
#Edit{margin-top: 30px;margin-left: 128px;}
#com{height: 30px;width: 25px;margin-right: 100px;}
img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius:100px ;
}
#image{margin-left: 94px;}
.container{
    box-sizing: border-box;   
    border: solid black 0.5px;
    box-shadow: gray 5px 5px 5px 5px;
    border-radius: 10px;
    height: 750px;
    width:450px;
    text-align: center;
    margin-left: 500px;
    margin-top: 20px;
}
.bio{
    /* margin-left: 50px;  */
    margin-bottom:29px;
    height:80px; width:50%}
form{
    
    margin-top: 20px;
    margin-left: 20px;
    text-align: center ;    
}
#one{
    /* margin-right: 200px; */
    height: 30px;
    width: 25px;}
input{
  margin-bottom: 10px;  
  height:25px;  
  width: 80% ;
  border-radius: 5px;  
}
input#unique{
    margin-top: 20px;
}
.same{width:50%}
textarea{
    height: 70px;
    width: 80%;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;   
    /* width: 80px; */
}
#save{
    color: white;
    width: 15%;
    background-color:green}
#cancel{
    width:20%;
    margin-right:250px ;
}